<li>
  <strong>
    <a id="{{ repo.name }}" href="{{ repo.html_url }}">{{ repo.full_name }}</a>
  </strong>
  {% if repo.local.theme %}{{ repo.local.theme }}{% elsif repo.local.remote_theme %}{{ repo.local.remote_theme }}{% else %}<del>Theme</del>{% endif %}
  {% if repo.local.google_analytics %}{{ repo.local.google_analytics }}{% else %}<del>GA</del>{% endif %}
  <br/>
  config Title: {{ repo.local.title }}<br/>
  config Descript: {{ repo.local.description }}<br/>
  GH  Description: {{ repo.description }}<br/>
  {% if repo.local.tagline %}Tagline: {{ repo.local.tagline }}<br/>{% endif %}
  {% if repo.fork %}is-fork{% endif %}
  {% if repo.updated_at %}Updated: {{ repo.updated_at }}{% endif %}
  {% if repo.pushed_at %}Pushed: {{ repo.pushed_at }}{% endif %}
  <br/>
  {% if repo.homepage %}Homepage: {{ repo.homepage }}{% else %}<del>Homepage</del>{% endif %}
  {% if repo.open_issues_count %}Issues: {{ repo.open_issues_count }}{% endif %}
  {% if repo.default_branch %}Branch: {{ repo.default_branch }}{% endif %}
  {% if repo.local.logo %}{{ repo.local.logo }}{% endif %}
</li>